.repositories-page {
  display: block;
}

.repositories-page__children-container {
  max-width: 780px;
  margin: 0 auto;
}

.repositories-page__title {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
}

@media (min-width: 988px) and (max-width: 1219px) {
  .repositories-page__title {
    text-align: left;
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 987px) {
  .repositories-page__title {
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    line-height: 36px;
  }
}
