.repository-info-popup {
  position: relative;
  padding: 80px 0 50px 30px;
  background-color: var(--popup-color);
  width: 724px;
}

.repository-info-popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media (max-width: 1219px) {
  .repository-info-popup {
    display: block;
    width: 90%;
    padding: 0;
  }
}

@media (min-width: 988px) and (max-width: 1219px) {
  .repository-info-popup {
    margin: 0 40px;
    padding-top: 130px;
  }

  .repository-info-popup__close {
    right: 0;
    top: 50px;
  }
}

@media (max-width: 987px) {
  .repository-info-popup {
    margin: 0 20px;
    padding-top: 56px;
  }

  .repository-info-popup__close {
    right: 0;
    top: 20px;
  }
}
